# Supabase Configuration
REACT_APP_SUPABASE_URL=https://supabase.carvajalautotech.com
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzI1ODk2MDAwLCJleHAiOjIwNDExMjgwMDB9.kA_F1gSwDb_8foKy0vcttWvHJ8wn0HRnRmW31nXJNKQ

# App Configuration 
REACT_APP_APP_NAME=Carvajal AutoTech
REACT_APP_VERSION=1.0.0

# Development 
GENERATE_SOURCEMAP=false
